langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
google-generativeai
streamlit_lottie
streamlit-mic-recorder==0.0.4
streamlit_option_menu
langchain
PyPDF2
chromadb
pdf2image
faiss-cpu
langchain_google_genai
